.THIS.hello {
  
    width: 100%;
    text-indent: 10px;
    font-weight: bold;
    font-style: italic;
    border-radius: 25px;

    background-image: linear-gradient(to right, #ff5f6d, #ffc371);
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}