/* Container styling */
:host {
    font-family: 'Roboto', sans-serif;
    background: #f4f6f9;
}
.card-group {
   /*display: flex;
    flex-wrap: wrap;
    gap: 15px;*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.card-content {
  text-align: left;
}

.section-card {
    padding: 0.25rem;
    padding-left: 0;
}

.card-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #625B71;
}

.card-radio input[type="radio"]:checked + .card-content {
  border: 2px solid #00857A;
}

.card-radio {
    margin-left: 0;
    border-radius: 8px;
    padding: 14px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    color: #333;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 140px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border: 2px solid #d0d0d0;
    gap: 8px;
    background: #fff;
    flex-direction: column;
}
.card-radio.short-height{
  min-height: 55px;
}

.card-radio:hover {
    border-color: #00857A;
}

.card-radio.selected {
    border: 2px solid #00857A;
    background-color: #fff;
    box-shadow: 0 0 0 2px rgba(0, 121, 107, 0.1);
    font-weight: 600;
}

.card-radio input[type="radio"] {
    accent-color: #00857A;
}

.card-radio.selected input[type="radio"]:checked {
    accent-color: #00857A;
}
.card-radio.selected .card-title,
.card-radio.selected .card-desc {
    font-weight: 600;
}

.card-inner {
    display: flex;
    align-items: center;
    gap: 8px;
}

.card-title {
   font-weight: 500;        
   font-size: 16px;
   line-height: 24px;
    letter-spacing: 0.5px;
    vertical-align: middle;          
    color: #1D1B20;
}

.form-group label {
    font-weight: 500;       
   font-size: 16px;
   line-height: 24px;
    letter-spacing: 0.5px;
    vertical-align: middle;          
    color: #1D1B20;
}

.form-group input,
.form-group textarea, 
.form-group select {
    height: 40px;
     border: 2px solid #DADADA;
     border-radius: 4px;
     font-size: 14px;
     font-weight: 500;
     color: #000;
     letter-spacing: 0.1px;
}
.consent-section {
    margin-top: 20px;
    padding: 15px;
    border-top: 1px solid #ddd;
    display: block; /* Ensure it doesn't use flex */
    text-align: left; /* Align content to left */
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* space between items */
    flex-wrap: wrap; /* allows wrapping on smaller screens */
}

.appointment-fields {
    display: flex;
    flex-direction: column; /* stack date and timeslot vertically */
    gap: 0.5rem;
}

.consent-label {
    display: inline-flex; /* Keep checkbox and text together */
    align-items: center;
    justify-content: flex-start; /* Align to left */
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    width: 100%; /* Full width */
}

.consent-label input[type="checkbox"] {
    margin-right: 8px;
}


.button-group {
    display: flex;
    gap: 10px;
}

.btn {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.15px;
    vertical-align: middle;
    cursor: pointer;
}

.btn-primary {
    background-color: #007a5e;
    color: #fff;
}

.btn-secondary {
    background-color: #007a5e;
    color: #fff;
}

textarea, input:not([type="radio"]) {
    width: 100%;
    padding: 8px;
}

/* Question block */
.custom-question-section {
    display: flex;
    align-items: center;
    gap: 16px; /* Space between label and radio buttons */
    margin-bottom: 0.5rem;
    flex-wrap: wrap; /* Allow wrapping if needed */
}

/* ✅ Make radio buttons inline */
.custom-question-section input[type="radio"] {
    display: inline-block;
    height: auto;
    width: auto;
}

.question lightning-radio-group {
    display: inline-flex; /* Horizontal layout for LWC radio group */
    gap: 16px; /* Space between Yes and No */
    align-items: center;
}

.custom-question-section > label {
    margin: 0.5rem 0;
    width: 350px;
}

.custom-question-section input,
.custom-question-section select {
    height: 40px;
     border: 2px solid #DADADA;
     border-radius: 4px;
     font-size: 14px;
     font-weight: 500;
     color: #555;
     letter-spacing: 0.1px;
     width: 300px;
}

/* Error message */
.ngmcp-text-error {
    color: #c23934;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.horizontal-radio {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping if too many options */
}
.horizontal-radio label {
    display: flex;
    align-items: center;
    gap: 4px;
}

/*.question select,
.question input[type="number"],
.question lightning-input {
    flex: 1;
}*/

/************** Custom Button Styles **************/
.custom-btn {
     background-color: #00857A;
     color: #fff;
     border: 2px solid #00857A;
     border-radius: 8px;
     padding: 10px 24px;
}
.custom-btn:hover {
     background-color: #fff;
     color: #00857A;
     border: 2px solid #00857A;
     cursor: pointer;
}

/****************. Custom Styles *******************/
.custom-page-header-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0;
    vertical-align: middle;
}
.custom-page-subheader-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    vertical-align: middle;
    padding: 0.5rem 0;
    color: #00857A;
}
.custom-radio-card-block {
    display: flex;
    flex-direction: row;
    align-items: start;
}
.custom-card-text-block {
    display: inline-flex;
    flex-direction: column;
    padding: 0 0.75rem;
}
.selected-subtype-suggestion {
    font-size: 24px;
    padding-bottom: 2rem;
    color: #00857A;
}

.readonly-style {
    background-color: #f4f4f4; /* Light gray background */
    color: #555; /* Slightly dim text */
    cursor: not-allowed; /* Show disabled cursor */
    pointer-events: none; /* Prevent typing or clicking */
}

.radio-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-header input[type="radio"] {
  accent-color: #00796b;
  cursor: pointer;
  transform: scale(1.1); /* slightly larger radio circle */
}

.radio-header label {
  font-weight: 600;
  color: #333;
  font-size: 15px;
  cursor: pointer;
}

.radio-desc {
  color: #555;
  font-size: 13.5px;
  margin-left: 26px;
  margin-top: 6px;
  line-height: 1.4;
  flex-grow: 1;
}

.radio-desc {
    margin-top: 4px;  
}
.recommend-tag {
    font-size: 12px;
    background: #009688;
    color: #fff;
    text-align: center;
    padding: 6px 0;
    border-radius: 0 0 6px 6px;
    margin-top: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.radio-header {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    font-size: 15px;
    color: #111;
}


/* Red asterisk for required fields */
.req {
    color: #c23934;
    font-size: 12px;
    font-weight: 500; /* bold for visibility (optional) */
}

/* Optional: also tint the field border when invalid */
.input-error {
  border-color: #c23934;
}


/* Optional: radio group error tint (if you apply q.inputClass to the container) */
.horizontal-radio.input-error {
  outline: 2px solid rgba(176, 0, 32, 0.35);
  border-radius: 6px;
  padding: 6px;
}

/* Inline error text */
.ngmcp-text-error {
  color: #c23934;
  font-size: 12px;
  margin-top: 4px;
}

.ngmcp-text-danger {
  color: #c23934;        /* red */
  font-weight: 600;      /* semi-bold */
  margin: 8px 0 0;
  font-size: 12px;
}
p.ngmcp-text-danger:empty,
.ngmcp-text-error:empty {
    display: none;
}
.custom-success-message {
     color: #007B34;
     font-weight: 600;
     font-size: 14px;
     letter-spacing: 0.4px;
     margin: 0;
}

/* file upload */
.upload-section {
    display: flex;
    align-items: flex-start;
}

.upload-box {
    display: flex;
}

.upload-box p {
    padding: 0.5rem;
}

.upload-box.drag-over {
    background-color: #f0f8f8;
    border-color: #00857A;
}

.browse-text {
    color: #00857A;
    text-decoration: underline;
    cursor: pointer;
}

.file-input {
    display: none;
}
.file-preview-list {
    display: inline-flex;
}

.file-preview-item {
  border: 1px solid #dadada;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fafafa;
}

.thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

.file-icon {
  font-size: 28px;
}


.file-info {
  display: flex;
  flex-direction: column;

}

.file-name {
  font-weight: 600;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-size {
  font-size: 0.8rem;
  color: #555;
}

.delete-btn {
  background: none;
  border: none;
  color: #c23934;
  font-size: 16px;
  cursor: pointer;
}

.custom-guidance-table {
    max-width: 475px;
    overflow: auto;
    display: block;
    border: 0px solid #878787;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.custom-guidance-table .active-row {
  background: #f5f6f9; /* SLDS Gray-1 */
  font-weight: 600;
}

.custom-guidance-table tr th {
    white-space: normal;
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: #00857A;
    color: #fff;
    font-size: 15px;
}
.slds-table.custom-guidance-table thead tr td, 
.slds-table.custom-guidance-table tbody tr td {
    text-align: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #DADADA;
    border-top: 0;
    color: #1D1B20;
}
.slds-table.custom-guidance-table tbody tr:hover th, 
.slds-table.custom-guidance-table tbody tr:hover td {
    background-color: #f5f6f9;
}

input[type="file"] {
  color: transparent;       /* hides the filename text */
}

input[type="file"]::-webkit-file-upload-button {
  color: initial;           /* keeps the button text visible */
}

input[type="file"]::file-selector-button {
  color: initial;           /* for modern browsers */
}
.custom-success-message p {
    display: block;
    margin: 4px 0;
    color: #0a6b3c;
    font-size: 16px;
    line-height: 1.4;
}

/******************************* Custom Styles - Guidance Block - 28.01.26 ***********************/
.custom-work-request-container .custom-section-card-block .slds-col.slds-size_8-of-12 {
    width: 64%;
}
.custom-work-request-container .custom-section-card-block .custom-question-guidance-block.slds-col.slds-size_4-of-12 {
    width: 35%;
    flex: 0 0 auto;
    display: flex;
}
.custom-work-request-container .custom-section-card-block .slds-col.slds-size_8-of-12 .question.custom-question-section {
    gap: 0;
}