.login-form-input .input-container {
    height: 45px;
    border: 2px solid #DADADA;
    border-radius: 4px;
}
.custom-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
.login-container button {
    border-radius: 8px;
    font-size: 14px;
}
.login-form-input a.login-button-link-color {
    color: #00857a;
    text-decoration: underline;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 16px;
}
.login-form-input a.login-button-link-color:hover {
    color: #004C9D;
}

.custom-login-button {
    background: #00857a;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #00857a;
}
.custom-login-button:hover {
    background: #fff;
    color: #00857a;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.custom-otp-back-btn,
.custom-resend-otp-btn {
    background: #fff;
    color: #00857A;
    border-radius: 8px;
    border: 2px solid #00857a;
    font-size: 15px;
}
.custom-otp-back-btn:hover,
.custom-resend-otp-btn:hover {
    background: #00857a;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.custom-slds-card-section {
    background: rgba(255, 255, 255, 0.7);
}

.resend-container {
    display: flex;
}
.resend-container button {
    padding: 0.75rem;
    font-size: 14px;
    margin: 0 0.5rem;
}
/*.custom-otp--section .resend-container button.custom-login-button {
    background: none;
    color: #1A1B1E;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
}

.custom-otp--section .resend-container button.custom-login-button:hover {
    text-decoration: underline;
}*/

/* Error message */
.ngmcp-text-error {
    color: #c23934;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.error-message{
    color: #c23934;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    font-family: 'Roboto', sans-serif;

}
.back-button.custom-login-button {
    font-size: 14px;
}
.custom-subtitle-bold {
    font-weight: bold;
}

.center-text {
    display: block;
    text-align: center;
}